body {
    background-image: url(https://wallpapercave.com/wp/wp11284353.jpg);
    color: rgb(0, 255, 242);
    padding: 10px;
    font-family: arial;

}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: #36008d;
   margin: 0 auto;
    display: flex;
    padding: 40
}
h1 {
    display: flex;
    align-items: center;
    
    flex: 1;
    margin: 0px;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 10px;
}
a {
    text-decoration: green;
    color: hsl(123, 100%, 50%);
}

/* main container area beneath menu */
main {
    background: linear-gradient (rgb(0, 65, 59), rgb(54, 1, 65),rgb(0, 255, 0));
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1px;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px;
     color: rgb(0, 255, 98);
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

/* portfolio styles */
 .content h1 {
    color: rgb(0, 255, 21);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #000000,;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #170055;
}

#portfolio a {
    text-decoration: none;
    color: #00e1ff;
}