body {
    background:  repeating-linear-gradient(rgb(12, 0, 75), rgb(183, 0, 255) 10%, rgb(0, 255, 0) 20%);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: pacifico;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: #01ff01;
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: hwb(0 0% 100%);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

/* main container area beneath menu */
main {
    background: linear-gradient(rgb(1, 15, 97), rgb(114, 3, 136),rgb(30, 255, 0));
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(255, 0, 0) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
